body {
  margin: 0;
  font-family: Telenor, "Noto Sans Bengali", "Helvetica Neue", Helvetica, Arial,
    "Noto Sans Bengali", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}
